[submodule "framework"]
	path = framework
	url = https://github.com/robotics-erlangen/framework.git
[submodule "ssl-vision"]
	path = ssl-vision
	url = https://github.com/RoboCup-SSL/ssl-vision.git
[submodule "ssl-simulation-protocol"]
	path = ssl-simulation-protocol
	url = https://github.com/RoboCup-SSL/ssl-simulation-protocol.git
